.student__cards {
  justify-content: flex-start; }
  .student__cards .flex__card {
    flex: 0 0 33%;
    height: 100px; }
    @media only screen and (max-width: 1199px) {
      .student__cards .flex__card {
        flex: 0 0 49.5%; } }
    @media only screen and (max-width: 767px) {
      .student__cards .flex__card {
        flex: 0 0 100%; } }
